PORT=<puerto-en-el-que-se-ejecutará-la-aplicación>
DB_URI=mongodb+srv://<user>:<password>@<cluster>.agwlxbz.mongodb.net/?appName=<clusterName>
JWT_SECRET=contraseña-secreta-para-jwt
JWT_EXPIRES_IN=duración-del-token-en-segundos-o-formato-de-tiempo (ejemplo: 2h para 2 horas)