PORT=3000
DB_URI=mongodb+srv://donmmy:<db_password>@cluster0oscar2026webii.agwlxbz.mongodb.net/
JWT_SECRET=clave_secreta_para_jwt
JWT_EXPIRES_IN=2h
SLACK_WEBHOOK=https://hooks.slack.com/services/XXXX/YYYY/ZZZZ
