PORT=3000
DB_URI=mongodb+srv://donmmy:<db_password>@cluster0oscar2026webii.agwlxbz.mongodb.net/
JWT_SECRET=73a9224915806a95f6c9a366d739e580400ae843dd80453caf9dee209baf540f
JWT_EXPIRES_IN=2h
SLACK_WEBHOOK=https://hooks.slack.com/services/XXXX/YYYY/ZZZZ
